

nbproject/
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

*.properties
*.config
*.txt
*.backup
*.rar

logs/
inc/
backup/
old*

build.xml
manifest.mf
